h1{
  text-align: center;
}

.buttons{
  text-align: center;
}


button{
  padding: 10px;
  margin: 0 20px 0 0;
  background-color: skyblue;
  font-weight: 700;
  border: none;
  border-radius: 5px;

}
